.part-one{
    position: relative;
}
.part-one .city-title{
    width: 38%;
    color: #fff;
    position: absolute;
    top:8px;
    left:26px;
}
@media screen and (max-width: 767px) {
    .part-one .city-title h1{
        font-size: 2.25rem;
    }
    .part-one .city-title h4{
        font-size: 1rem;
    }
}

.part-two .city-design-content p{
    margin-top: 16px;
    font-size:12px;
}
.part-two .relative-case div{
    padding-top: 16px;
    padding-bottom: 16px;
}
.part-two .relative-case div>a{
    color: #999;
}
.part-two .relative-case div:nth-child(1){
    color: #000;
}
.part-two .relative-case div>a:hover{
    color: #00b3ee;
    text-decoration: none;
}