.part-two .comany-introduce-content p{
    margin-top: 16px;
    font-size:12px;
}
.part-two h3{
    font-weight: bold;
    padding-bottom: 16px;
}
.part-two{
    padding-bottom: 40px;
}
.part-two .icon img{
    border: 1px solid #ddd;
    border-radius: 5px;
}
.part-two .icon{

    margin-bottom: 30px;

}
