<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aud.mapper.NavMenuMapper" >
  <resultMap id="BaseResultMap" type="com.aud.pojo.NavMenu" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="lang" property="lang" jdbcType="VARCHAR" />
    <result column="parent_nav" property="parentNav" jdbcType="INTEGER" />
    <result column="nav_menu_desc" property="navMenuDesc" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, lang, parent_nav, nav_menu_desc, content, img_url
  </sql>
  <select id="allNavMenuByParentNav" resultMap="BaseResultMap" >
    select * from navmenus where parent_nav = #{0,jdbcType=INTEGER}  and lang = #{1, jdbcType=VARCHAR}
  </select>
  <select id="all" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select * from navmenus
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select 
    <include refid="Base_Column_List" />
    from navmenus
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from navmenus
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aud.pojo.NavMenu" >
    insert into navmenus (id, name, lang, 
      parent_nav, nav_menu_desc, content, 
      img_url)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{lang,jdbcType=VARCHAR}, 
      #{parentNav,jdbcType=INTEGER}, #{navMenuDesc,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{imgUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.aud.pojo.NavMenu" >
    insert into navmenus
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="lang != null" >
        lang,
      </if>
      <if test="parentNav != null" >
        parent_nav,
      </if>
      <if test="navMenuDesc != null" >
        nav_menu_desc,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="imgUrl != null" >
        img_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="lang != null" >
        #{lang,jdbcType=VARCHAR},
      </if>
      <if test="parentNav != null" >
        #{parentNav,jdbcType=INTEGER},
      </if>
      <if test="navMenuDesc != null" >
        #{navMenuDesc,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        #{imgUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aud.pojo.NavMenu" >
    update navmenus
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="lang != null" >
        lang = #{lang,jdbcType=VARCHAR},
      </if>
      <if test="parentNav != null" >
        parent_nav = #{parentNav,jdbcType=INTEGER},
      </if>
      <if test="navMenuDesc != null" >
        nav_menu_desc = #{navMenuDesc,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aud.pojo.NavMenu" >
    update navmenus
    set name = #{name,jdbcType=VARCHAR},
      lang = #{lang,jdbcType=VARCHAR},
      parent_nav = #{parentNav,jdbcType=INTEGER},
      nav_menu_desc = #{navMenuDesc,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>