<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aud.mapper.ProjectMapper" >
  <resultMap id="BaseResultMap" type="com.aud.pojo.Project" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="zh_name" property="zhName" jdbcType="VARCHAR" />
    <result column="cn_name" property="cnName" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="lang" property="lang" jdbcType="VARCHAR" />
    <result column="nav_menu_id" property="navMenuId" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.aud.pojo.Project" extends="BaseResultMap" >
    <result column="img_urls" property="imgUrls" jdbcType="LONGVARCHAR" />
  </resultMap>
  <resultMap id="projectAndImage"  type="com.aud.pojo.Project">
	<id column="id" property="id" jdbcType="INTEGER" />
	<result column="zh_name" property="zhName" jdbcType="VARCHAR" />
	<result column="cn_name" property="cnName" jdbcType="VARCHAR" />
	<result column="address" property="address" jdbcType="VARCHAR" />
	<result column="content" property="content" jdbcType="VARCHAR" />
	<result column="lang" property="lang" jdbcType="VARCHAR" />
	<result column="nav_menu_id" property="navMenuId" jdbcType="INTEGER" />
    <collection property="images" ofType="com.aud.pojo.Image">
	  <id column="image_id" property="id" jdbcType="INTEGER" />
	  <result column="resource_id" property="resourceId" jdbcType="INTEGER" />
	  <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
    </collection>
  </resultMap>
  <select id="getMaxId" resultType="java.lang.Integer">
    select id from projects ORDER BY id DESC LIMIT 0, 1
  </select>
  <select id="all" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select * from projects where lang = #{lang, jdbcType=VARCHAR}
  </select>
  <select id="getByNavMenuId" resultMap="ResultMapWithBLOBs">
    select * from projects
    where nav_menu_id = #{0,jdbcType=INTEGER} and lang = #{1, jdbcType=INTEGER}
  </select>
  <sql id="Base_Column_List" >
    id, zh_name, cn_name, address, content, lang, nav_menu_id
  </sql>
  <sql id="Blob_Column_List" >
    img_urls
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from projects
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByNavMenuId" parameterType="java.lang.Integer">
    delete from projects
    where nav_menu_id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from projects
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aud.pojo.Project" >
    insert into projects (id, zh_name, cn_name, 
      address, content, lang, 
      nav_menu_id, img_urls)
    values (#{id,jdbcType=INTEGER}, #{zhName,jdbcType=VARCHAR}, #{cnName,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{lang,jdbcType=VARCHAR}, 
      #{navMenuId,jdbcType=INTEGER}, #{imgUrls,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.aud.pojo.Project" >
    insert into projects
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="zhName != null" >
        zh_name,
      </if>
      <if test="cnName != null" >
        cn_name,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="lang != null" >
        lang,
      </if>
      <if test="navMenuId != null" >
        nav_menu_id,
      </if>
      <if test="imgUrls != null" >
        img_urls,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="zhName != null" >
        #{zhName,jdbcType=VARCHAR},
      </if>
      <if test="cnName != null" >
        #{cnName,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="lang != null" >
        #{lang,jdbcType=VARCHAR},
      </if>
      <if test="navMenuId != null" >
        #{navMenuId,jdbcType=INTEGER},
      </if>
      <if test="imgUrls != null" >
        #{imgUrls,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aud.pojo.Project" >
    update projects
    <set >
      <if test="zhName != null" >
        zh_name = #{zhName,jdbcType=VARCHAR},
      </if>
      <if test="cnName != null" >
        cn_name = #{cnName,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="lang != null" >
        lang = #{lang,jdbcType=VARCHAR},
      </if>
      <if test="navMenuId != null" >
        nav_menu_id = #{navMenuId,jdbcType=INTEGER},
      </if>
      <if test="imgUrls != null" >
        img_urls = #{imgUrls,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.aud.pojo.Project" >
    update projects
    set zh_name = #{zhName,jdbcType=VARCHAR},
      cn_name = #{cnName,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      lang = #{lang,jdbcType=VARCHAR},
      nav_menu_id = #{navMenuId,jdbcType=INTEGER},
      img_urls = #{imgUrls,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aud.pojo.Project" >
    update projects
    set zh_name = #{zhName,jdbcType=VARCHAR},
      cn_name = #{cnName,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      lang = #{lang,jdbcType=VARCHAR},
      nav_menu_id = #{navMenuId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>